$colors: (
    'common': (
        'white': #fff,
        'black': #000000,
    ),
    'grey': (
        '1':#f2f4f9,
        '2':#203240,
    ),
    'text': (
        'body':#777777,
    ),
    'heading': (
        '1':#203240,
    ),
    'theme': (
        '1': #e72254,
        '2': #203240,
        '3': #17212a,
    ),
    'border': (
        '1': #ebebeb,
        
    )
);




$white : #fff;
$black : #020626;
$theme-primary : #ff1749;
$border-primary : #F1F1F9;