@use '../utils' as *;

/*----------------------------------------*/
/*  2.12 Accordion
/*----------------------------------------*/

.tp-custom-accordion {
    & .accordion-items {
        border-bottom: 1px solid #cecece;
        &  i {
            height: 22px;
            width: 22px;
            background: var(--tp-theme-2);
            line-height: 22px;
            text-align: center;
            border-radius: 30px;
            color: #fff;
            font-size: 14px;
            margin-right: 10px;
        }
    }
    & .accordion-buttons {
        position: relative;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        text-align: left;
        padding: 21px 60px;
        padding-left: 23px;    
        transition: .3s;
        font-family: var(--tp-ff-heading);
        color: var(--tp-common-black);
        @media #{$lg}{
            font-size: 17px;
        }  
        @media #{$md}{
            font-size: 16px;
        }  
        @media #{$xs}{
            font-size: 15px;
        }  
        @media #{$sm}{
            font-size: 17px;
        }  
        &::after {
            position: absolute;
            content: "\f106";
            font-family: 'Font Awesome 5 Pro';
            top: 21px;
            right:0px;
            font-weight: 700;
            font-size: 16px;
            opacity: 1;
            transition: .3s;
            height: 22px;
            width: 22px;
            line-height: 23px;
            border-radius: 50%;
            text-align: center;
            color: var(--tp-theme-1);
            padding-right: 30px;
            @media #{$xs}{
              right: 20px;
            } 
        }

        &.collapsed {
            &::after {
                content: '\f107';
            }
        }
       
    }
    & .collapsed {
        position: relative;
        z-index: 99;
    }
    & .accordion-body {
        padding:30px;
        padding-bottom: 25px;
        padding-right: 30px;
        padding-top: 25px;
        position: relative;
        z-index: 1;
        font-weight: 400;
        font-size:14px;
        line-height:24px;
        color: #767676;
        @media #{$xl} {
            font-size: 15px;
        }
        @media #{$lg}{
            font-size: 14px;
        }
        @media #{$md}{
            font-size: 14px;
        }
        @media #{$xs}{
            font-size: 13px;
            padding-right: 0;
            line-height: 26px;
        }
        @media #{$sm}{
            font-size: 14px;
        }
    }
}
.tp-custom-accordion-2 {
    & .accordion-items {
        margin-bottom: 30px;
    }
    & .accordion-buttons {
        position: relative;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        text-align: left;
        padding: 21px 60px;
        padding-left: 30px;    
        transition: .3s;
        font-family: var(--tp-ff-heading);
        color: var(--tp-common-black);
        border: 1px solid #e7e7e7;
        @media #{$lg}{
            font-size: 15px;
        }  
        @media #{$md}{
            font-size: 16px;
        }  
        @media #{$xs}{
            font-size: 15px;
            padding-left: 20px;
        }  
        @media #{$sm}{
            font-size: 17px;
        }  
        &::after {
            position: absolute;
            content: "\f068";
            font-family: 'Font Awesome 5 Pro';
            top: 21px;
            right:20px;
            font-weight: 700;
            font-size: 12px;
            opacity: 1;
            transition: .3s;
            height: 22px;
            width: 22px;
            line-height: 23px;
            border-radius: 50%;
            text-align: center;
            color: var(--tp-common-white);
            background-color: var(--tp-theme-1);
            @media #{$xs}{
              right: 20px;
            } 
        }
        &:not(.collapsed){
            border: 1px solid black;
        }

        &.collapsed {
            &::after {
                content: '\f067';
            }
        }
       
    }
    & .collapsed {
        position: relative;
        z-index: 99;
    }
    & .accordion-body {
        padding:25px 30px;
        padding-right: 40px;
        position: relative;
        z-index: 1;
        font-weight: 400;
        font-size:14px;
        line-height:24px;
        color: #767676;
        @media #{$xl} {
            font-size: 15px;
        }
        @media #{$lg}{
            font-size: 14px;
        }
        @media #{$md}{
            font-size: 14px;
        }
        @media #{$xs}{
            font-size: 13px;
            padding-right: 0;
            line-height: 26px;
        }
        @media #{$sm}{
            font-size: 14px;
        }
    }
}
