@use '../utils' as *;

/*----------------------------------------*/
/*  2.6 Background
/*----------------------------------------*/
.white-bg {
	background-color: var(--tp-common-white);
}
.black-bg {
	background-color: var(--tp-heading-1);
}
.black-bg-2 {
	background-color: var(--tp-common-black-3);
}
.theme-bg {
	background-color: var(--tp-theme-1);
}
.grey-bg {
	background-color: var(--tp-grey-1);
}