@use '../../utils' as *;

/*----------------------------------------*/
/*  7.2 brand css start
/*----------------------------------------*/
.tp-brand{
    &-item {
        & img {
            filter: grayscale(100%);
            opacity: 0.5;
            transition: all 0.3s linear;
        }
        &:hover {
            & img {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }
    &-box {
        & .tp-brand-item {
            border: none;
            padding: 0;
        }
    }

}