@use '../../utils' as *;

/*----------------------------------------*/
/*  7.10 funfact css start
/*----------------------------------------*/
.tp-funfact{
    &-border {
        border-bottom: 2px solid var(--tp-theme-1);
    }
    &-number {
        font-size: 60px;
        margin-bottom: 0;
        line-height: 1;
        color: var(--tp-common-white);
        @media #{$xl}{
            font-size: 50px;
        } 
        @media #{$lg}{
            font-size: 46px;
        } 
        @media #{$md,$xs}{
            font-size: 45px;
        } 
    }
    &-content {
        padding: 50px 15px;
        position: relative;
        z-index: 2;
        &:hover {
            &::after{
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
        }
        &::after{
            content: '';
            bottom: 0;
            left: 0;
            height: 0%;
            width: 100%;
            background-color: #1a1a1a;
            position: absolute;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }
        & span {
            font-weight: 500;
            color: #a5a5a5;
        }
    }
}