@use '../../utils' as *;

/*----------------------------------------*/
/*  7.11 instagram-text css start
/*----------------------------------------*/

.tp-instagram {
    &-title {
        font-size: 40px;
        color: var(--tp-common-white);
        
        @media #{$xxl}{
            font-size: 37px;
        }
        @media #{$xl,$lg}{
            font-size: 35px;
        }
        @media #{$md}{
            font-size: 28px;
         }
        @media #{$xs}{
            font-size: 25px;
        }
        &-box {
            & a {
                color: #cacaca;
                transition: .3s;
                &:hover {
                    color: var(--tp-theme-1);
                }
                & i {
                    display: inline-block;
                    margin-left: 8px;
                    transform: translateY(1px);
                }
            }
        }
    }
    &-thumb {
        position: relative;
        @media #{$xs} {
            width: 100%;
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.902);
            opacity: 0;
            visibility: hidden;
            transition: .5s;          
        }
        &:hover {
            & .tp-instagram-play {
                opacity: 1;
                visibility: visible;
            }
            &::after{
                opacity: 1;
                visibility: visible;
            }
        }
        & img {
            @media #{$xs} {
                width: 100%;
            }
        }
    }
    &-wrap {
        margin-left: 25px;
        @media #{$xs} {
            margin-left: 0;
            flex-wrap: wrap;
            margin-top: 50px;
        }
    }
    &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%,-50%);
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        & a{
            display: inline-block;
            height: 60px;
            width: 60px;
            line-height: 60px;
            border-radius: 50%;
            text-align: center;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
            position: relative;
            &::after{
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 70%;
                height: 70%;
                z-index: -1;
                background-color:rgba(255, 255, 255, 0.514);
                animation: borderanimate2 2s linear infinite;
                border-radius: 50%;
            }
        }
    }
}