@use '../../utils' as *;

/*----------------------------------------*/
/*  7.14 price css start
/*----------------------------------------*/

.tp-price-2 {
    &-shap {
        position: absolute;
        right: 25px;
        top: 27%;
        background: var(--tp-grey-1);
        width: 90px;
        height: 90px;
        text-align: center;
        line-height: 86px;
        border-radius: 50%;
        border: 5px solid;
        border-color: #fff;
    }
    &-top {
        background: var(--tp-grey-2);
        padding: 40px;
        margin-bottom: 20px;
        -webkit-clip-path: polygon(100% 0, 100% 75%, 64% 100%, 0 88%, 0 0);
        clip-path: polygon(100% 0, 100% 75%, 64% 100%, 0 88%, 0 0);

        & span {
            font-size: 16px;
            color: #3a3a3a;
            background: #fff;
            padding: 15px 40px;
            font-weight: 600;
            border-radius: 30px;
            margin-bottom: 30px;
            display: inline-block;
            padding-bottom: 11px;
        }
    }

    &-list {
        padding: 40px;
    }

    &-item {
        overflow: hidden;
        position: relative;
        box-shadow: 0px 0px 80px 0px rgba(18, 14, 14, 0.08);

        &.active {
            background-color: var(--tp-common-black);

            & .tp-price-2-top {
                & h5 {
                    color: var(--tp-common-white);
                }

                & span {
                    color: #a5a5a5;
                    ;
                }
            }

            & .tp-price-2-rate {
                color: var(--tp-common-white);
            }

            & .tp-price-2-icon {
                & span {
                    &:not(:first-child) {
                        &::before {
                            background-color: var(--tp-common-white);
                        }
                    }
                }
            }
        }
    }


    &-list {
        & ul {
            & li {
                list-style-type: none;
                position: relative;
                color: #636363;
                margin-bottom: 15px;
   
            }
        }
    }

    &-rate {
        color: #fff;
        font-size: 43px;

        & b {
            color: #d9d9d9;
            font-size: 16px;
            font-weight: 400;
        }
    }


}