@use '../../utils' as *;

/*----------------------------------------*/
/*  7.17 slider-text css start
/*----------------------------------------*/

.tp-slider-text{
    &-box {
        animation: scrollText-2 20s infinite linear;
        & span {
            font-weight: 700;
            font-size: 140px;
            white-space: nowrap;
            line-height: 1;
            color: var(--tp-common-black);
            @media #{$xxl}{
               font-size: 95px;
            }
            @media #{$xl}{
               font-size: 90px;
            }
            @media #{$lg}{
               font-size: 85px;
            }
            @media #{$md,$xs}{
               font-size: 65px;
            }
            & b {
                color: var(--tp-theme-1);
                padding: 0 70px;
                position: relative;
                &::before{          
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background-color: var(--tp-theme-1);
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                &::after{          
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background-color: var(--tp-theme-1);
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
