@use '../../utils' as *;

/*----------------------------------------*/
/*  7.18 slider css start
/*----------------------------------------*/

.tp-slider {
    &-height {
        height: 840px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$xxl}{
            height: 750px
        }
        @media #{$xl}{
            height: 700px
        }
        @media #{$lg}{
            height: 700px
        }
        @media #{$md}{
            height: 690px
        }
        @media #{$xs}{
            height: 600px
        }
        @media #{$sm}{
            height: 650px
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
        transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
        transition: transform 9000ms ease, opacity 1500ms ease-in;
        transition: transform 9000ms ease, opacity 1500ms ease-in, -webkit-transform 9000ms ease;
    }
    &-overlay {
        position: relative;
        &::after{
            content: '';
            top: 0;
            left: 0;
            opacity: 0.749;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgb(3, 0, 17);
        }
    }
    &-subtitle {
        font-size: 16px;
        color: var(--tp-common-white);
    }
    &-title {
        font-size: 100px;
        color: var(--tp-common-white);
        @media #{$xxxl}{
            font-size: 85px;
        }
        @media #{$xxl}{
            font-size: 80px;
        }
        @media #{$xl}{
            font-size: 71px;
        }
        @media #{$lg}{
           font-size: 67px;
           margin-bottom: 30px;
        }
        @media #{$md}{
            font-size: 65px;
            margin-bottom: 30px;
            & br {
                display: none;
            }
        }
        @media #{$xs}{
            font-size: 44px;
            margin-bottom: 30px;
            & br {
                display: none;
            }
        }
        @media #{$sm}{
            font-size: 54px;
            margin-bottom: 30px;
            & br {
                display: none;
            }
        }
    }
    &-price {
        & span {
            font-weight: 500;
            font-size: 18px;
            margin-right: 30px;
            display: inline-block;
            color: var(--tp-common-white);
            & b {
                font-weight: 400;
                font-size: 60px;
                color: var(--tp-theme-1);
                position: relative;
                padding-left: 22px;
                padding-right: 5px;
                @media #{$xxxl}{
                   font-size: 50px;
                }
                @media #{$xxl}{
                   font-size: 48px;
                }
                @media #{$xl}{
                   font-size: 40px;
                }
                @media #{$lg}{
                   font-size: 40px;
                }
                @media #{$md,$xs}{
                   font-size: 34px;
                }
                & i {
                    font-style: normal;
                    position: absolute;
                    top: 12px;
                    left: 0;
                    font-size: 30px;
                }
            }
        }
    }
    &-play-box {
        position: absolute;
        right: 375px;
        top: 355px;
        z-index: 5;
        @media #{$xxxl}{
            right: 250px;
        }
        @media #{$xxl}{
            right: 200px;
        }
        @media #{$xl}{
            top: 300px;
            right: 200px;
        }
        @media #{$lg}{
            right: 60px;
            top: 290px;
        }
        @media #{$md,$xs}{
            display: none;
        }
        & a {
            display:block;
            height: 68px;
            line-height: 68px;
            width: 140px;
            font-size: 16px;
            text-align: center;
            border: 1px solid #a19fa4;
            border-radius: 40px;
            position: relative;
            margin-bottom: 20px;
            @media #{$lg}{
                height: 50px;
                line-height: 50px;
                width: 120px;
            }
            & i {
                color: var(--tp-common-white);
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            bottom: 110px;
            left: 370px;
            z-index: 1;
            transform: translateY(100px);
            opacity: 0;
            @media #{$xxxl}{
                left: 210px;
            }
            @media #{$xxl}{
                left: 115px;
            }
            @media #{$xl}{
                left:15px;
            }
            @media #{$lg}{
                bottom: 125px;
                left: 15px;
            }
        }
        &-2 {
            position: absolute;
            bottom: 0;
            right:0px;
            z-index: 1; 
            transform: translateX(100px);
            opacity: 0;
            @media #{$xl}{
                right: -3%;
                bottom: -5%;
            }
            @media #{$lg}{
                right: -3%;
                bottom: -19%;
            }
            @media #{$xs}{
                right: -15%;
                bottom: -20%;
            }
        }
        &-3 {
            position: absolute;
            top: 300px;
            right:500px;
            z-index: 1;
            animation: tpswing 1s forwards infinite alternate;
            @media #{$xxl}{
                right: 400px;
            }
            @media #{$xl}{
                top: 250px;
                right: 360px;
            }
            @media #{$lg}{
                top: 200px;
                right: 300px;
            }
        }
    }
    &-arrow-box{
        position: absolute;
        left: 120px;
        top: 355px;
        z-index: 5;    
        display: flex;    
        flex-direction: column;
        @media #{$xxxl}{
            left: 60px;
        }
        @media #{$xxl}{
            left: 15px;
        }
        @media #{$xl}{
            right: 30px;
        }
        @media #{$lg}{
            right: 30px;
        }
        @media #{$md,$xs}{
            display: none;
        }
        & button {            
            font-size: 24px;
            height: 60px;
            line-height: 60px;
            width: 60px;    
            border-radius: 50%;        
            transition: .3s;
            color: var(--tp-common-black);
            background-color: var(--tp-common-white);
            &.slider-next{
                margin-bottom: 10px;
            }
            &.active {
                background-color: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }
    }
    &-title-box {
        opacity: 0;
        z-index: 3;
        position: relative;
        transform: translateY(-150px);
    }
    &-button {
        transform: translateY(150px); 
        opacity: 0;
    }
    &-wrapper{
        & .swiper-slide{
            &.swiper-slide-active{
                & .tp-slider-bg{
                    -webkit-transform: scale(1.35);
                    transform: scale(1.35)
                }  
                & .tp-slider-title-box{
                    opacity: 1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                }    
                & .tp-slider-button{
                    opacity: 1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                }  
                & .tp-slider-shape-1 {
                    opacity:1;
                    transform: translatey(0px);
                    transition: all 3800ms ease;
                }  
                & .tp-slider-shape-2 {
                    opacity:1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                }  
            }
        }
    }
}
.tp-slider-2 {
    &-height {
        height: 860px;
        display: flex;
        align-items: center;
        justify-content: center;        
        @media #{$xxl}{
            height: 780px
        }
        @media #{$xl}{
            height: 740px
        }
        @media #{$lg}{
            height: 700px
        }
        @media #{$md}{
            height: 680px
        }
        @media #{$xs}{
            height: 640px
        }
    }
    &-bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
        transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
        transition: transform 7000ms ease, opacity 1500ms ease-in;
        transition: transform 7000ms ease, opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    }
    &-subtitle {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 20px;
        color: var(--tp-common-white);
        @media #{$xs}{
            font-size: 16px;
        }
    }
    &-title {
        font-size: 120px;
        line-height: 1;
        padding-bottom: 14px;
        color: var(--tp-common-white);
        @media #{$xxxl}{
            font-size: 110px;
        }
        @media #{$xxl}{
            font-size: 100px;
        }
        @media #{$xl}{
            font-size: 95px;
        }
        @media #{$lg}{
            font-size: 91px;
        }
        @media #{$md}{
            font-size: 80px;
        }
        @media #{$xs}{
            font-size: 53px;
        }
        @media #{$sm}{
            font-size:57px;
        }
    }
    &-title-box {
        opacity: 0;
        z-index: 3;
        position: relative;
        transform: translateY(-150px);
        & span {
            font-weight: 600;
            font-size: 24px;
            color: #a5a5a5;
            @media #{$xl}{
                font-size: 21px;
            }
            @media #{$lg}{
                font-size: 19px;
            }
            @media #{$md,$xs}{
                font-size: 17px;
            }
            & i {
                font-style: normal;
                display: inline-block;
                margin-left: 20px;
            }
        }
    }
    &-button {
        transform: translateY(150px); 
        opacity: 0;
        & span {
            font-weight: 600;
            font-size: 18px;
            color: var(--tp-common-white);
            & i {
                font-size: 16px;
                color: var(--tp-theme-1);
                margin-right: 10px;
                display: inline-block;
            }
            &:not(:last-child){
                margin-right: 35px;
            }
        }
        & a {
            @media #{$xs}{
                margin-bottom: 20px;
            }   
        }
        @media #{$xs}{
            flex-wrap: wrap;
        }
    }
    &-video {
        &-wrap {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            padding: 10px;
            padding-right: 70px;
            padding-bottom: 0;
            background-color: rgba(0, 0, 0, 0.8);
            @media #{$xl,$lg,$md,$xs}{
                padding-right: 0;
            }
        }
        &-thumb {
            margin-right: 60px;
        }
        &-play {
            position: absolute;
            top: 50%;
            right: -30px;
            transform: translateY(-50%);
            & a {
                display: inline-block;
                height: 60px;
                width: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 18px;
                border-radius: 50%;
                color: var(--tp-theme-1);
                background-color: var(--tp-common-white);
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    width: 65%;
                    height: 65%;
                    background-color: rgba(255, 255, 255, 0.671);
                    animation: borderanimate2 2.5s linear infinite;
                    z-index: -1;
                    border-radius: 50%;
                }
                &::after{
                    position: absolute;
                    content: "";
                    left: 50%;
                    top: 50%;
                    width: 70%;
                    height: 70%;
                    background-color: rgba(255, 255, 255, 0.405);
                    animation: borderanimate2 2.3s linear infinite;
                    z-index: -1;
                    border-radius: 50%;
                }
                & i {
                    display: inline-block;
                    padding-left: 4px;
                }
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            right: 265px;
            bottom: 185px;
            z-index: 1;
            animation: tpswing 1s forwards infinite alternate;
        }
    }
    &-arrow-box{
        position: absolute;
        left: 360px;
        bottom: 65px;
        z-index: 5;    
        @media #{$xxxl}{
            left: 210px;
        }
        @media #{$xxl}{
            left: 115px;
        }
        @media #{$xl}{
            left: 15px;
        }
        @media #{$lg,$md,$xs}{
            display: none;
        }
        & button {            
            font-size: 34px;     
            transition: .3s;
            color: #a5a5a5;
            &.slider-next{
                padding-right: 50px;
            }
            &.active {
                color: var(--tp-common-white);
            }
        }
    }
    &-wrapper{
        & .swiper-slide{
            &.swiper-slide-active{
                & .tp-slider-2-title-box{
                    opacity: 1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                }    
                & .tp-slider-2-button{
                    opacity: 1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                } 
            }
        }
    }
}
.tp-slider-3{
    &-height {
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$xxl}{
            height: 770px;
        }
        @media #{$xl}{
            height: 700px;
        }
        @media #{$lg}{
            height: 680px;
        }
        @media #{$md}{
            height: 600px;
        }
        @media #{$xs}{
            height: 580px;
        }
    }
    &-content {
        & p {
            @media #{$lg}{
                font-size: 14px;
                padding-right: 60px;
                & br {
                    display: none;
                }
            } 
            @media #{$md}{
                font-size: 15px;
                padding-right:170px;
                & br {
                    display: none;
                }
            } 
            @media #{$xs}{
                font-size: 14px;
                & br {
                    display: none;
                }
            } 
        }
    }
    &-title {
        font-weight: 600;
        font-size: 80px;
        line-height: 1;      
        @media #{$xxl}{
            font-size: 73px;
        }
        @media #{$xl}{
            font-size: 70px;
        }
        @media #{$lg}{
            font-size: 58px;
        }
        @media #{$md}{
            font-size: 65px;
            & br {
                display: none;
            }
        }
        @media #{$xs}{
            font-size: 38px;
            & br {
                display: none;
            }
        }
        @media #{$sm}{
            font-size: 46px;
        }
    }
    &-title-box {
        opacity: 0;
        z-index: 3;
        position: relative;
        transform: translateY(-150px);
    }
    &-thumb {
        &-1 {
            position: absolute;
            bottom: -100px;
            right: 450px;
            z-index: 1;
            transform: translateX(-70px);
            opacity: 0;
            z-index: 2;
            @media #{$xxxl}{
                right: 350px;
            }
            @media #{$xxl}{
                right: 300px;
            }
            @media #{$xl}{
                right: 200px;
                bottom: -150px;
            }
            @media #{$lg}{
                right: 130px;
                bottom: -150px;
            }

        }
        &-2 {
            position: absolute;
            bottom: 0;
            right:0px;
            transform: translateX(500px);
            opacity: 0;
            @media #{$xxxl}{
                right: -6%;
            }
            @media #{$xxl}{
                right: -16%;
            }
            @media #{$xl}{
                right: -19%;
                bottom: -9%;
            }
            @media #{$lg}{
                right: -28%;
                bottom: -17%;
            }
            @media #{$md,$xs}{
                position: static;
                transform: translateX(0px);
                opacity: 1;
            }
        }
    }
    &-big-text {
        position: absolute;
        top: 120px;
        left: 235px;
        z-index: 1;
        @media #{$xxxl}{
            left: 100px;
        }
        @media #{$xxl}{
            left: 60px;
        }
        @media #{$xl,$lg}{
            left: 0px;
        }
        @media #{$md}{
            left: 0px;
            top: 80px;
        }
        & h5 {
            font-size: 200px;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: 1px #e3e3e6;
            @media #{$xxxl}{
                font-size: 190px;
            }
            @media #{$xxl}{
                font-size: 150px;
            }
            @media #{$xl}{
                font-size: 150px;
            }
            @media #{$lg}{
                font-size: 120px;
            }
            @media #{$md}{
                font-size: 150px;
            }
        }
    }
    &-social {
        position: absolute;
        top: 50%;
        left: -1%;
        z-index: 2;
        transform: translateY(-50%) rotate(-90deg);
        @media #{$xxxl}{
            left: -4%;
        }
        @media #{$xxl}{
            left: -6%;
        }
        & a {
            font-family: var(--tp-ff-heading);
            color: var(--tp-common-black);
            transition: .3s;
            &:hover {
                color: var(--tp-theme-1);
            }
            &:not(:last-child){
                margin-right: 35px;
            }
            & i {
                margin-left: 10px;
                display: inline-block;
                transform: translateY(3px);
            }

        }
    }
    &-button-box {
        transform: translateY(150px); 
        opacity: 0;
        @media #{$xs}{
            flex-wrap: wrap;
        }
        & a {
            @media #{$xs}{
                margin-bottom: 30px;
            }
            @media #{$sm}{
                margin-bottom: 0;
                margin-right: 40px;
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            left: -5%;
            bottom: 0%;
            animation: tptranslateX2 4s infinite alternate;
        }
        &-2 {
            position: absolute;
            top: 90px;
            right: 760px;
            animation: tpswing 1s forwards infinite alternate;
            @media #{$xxl}{
                right: 600px;
            }
            @media #{$xl}{
                right: 560px;
            }
            @media #{$lg}{
                right: 490px;
            }
            @media #{$md}{
                right: 30px;
            }
            @media #{$xs}{
                right: 0px;
                top: 70px;
            }
            & img {
                @media #{$xs}{
                    width: 60%;
                }
            }
        }
        &-3 {
            position: absolute;
            bottom: 0;
            right: 725px;
            opacity: 0;
            transform: translateX(-150px);
            @media #{$xxxl}{
                right: 640px;
            }
            @media #{$xxl}{
                right: 560px;
            }
            @media #{$xl}{
                right: 480px;
            }
            @media #{$lg}{
                right: 400px;
                bottom: -3%;
            }
            
        }
        &-4 {
            position: absolute;
            top: 30%;
            right: -0%;
            opacity: 0;
            transform: translateX(550px);
            @media #{$xs}{
                top: 50%;
                right: -20%;
            }
            @media #{$sm}{
                top:37%;
                right: -10%;
            }
            & img {
                @media #{$xs}{
                    width: 50%;
                }
                @media #{$sm}{
                    width: 90%;
                }
            }
        }
    }
    &-wrapper{
        & .swiper-slide{
            &.swiper-slide-active{
                & .tp-slider-3-title-box{
                    opacity: 1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                }   
                & .tp-slider-3-button-box {
                    opacity: 1;
                    transform: translatey(0px);
                    transition: all 2500ms ease;
                }   
                & .tp-slider-3-thumb-1 {
                    opacity: 1;
                    transform: translate(0);
                    transition-delay: 2800ms;
                    transition: transform 2000ms ease, opacity 2000ms ease, color 500ms ease, background 500ms ease;
                }   
                & .tp-slider-3-thumb-2 {
                    opacity: 1;
                    transform: translate(0);
                    transition-delay: 2500ms;
                    transition: transform 2000ms ease, opacity 2000ms ease, color 500ms ease, background 500ms ease;
                }   
                & .tp-slider-3-shape-3 {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 6000ms;
                    transition: transform 6000ms ease, opacity 6000ms ease, color 500ms ease, background 500ms ease;
                }   
                & .tp-slider-3-shape-4 {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: 2000ms;
                    transition: transform 2000ms ease, opacity 2000ms ease, color 500ms ease, background 500ms ease;
                }   
            }
        }
    }
}

.tp-slider-dots {
    position: absolute;
    left: 510px;
    bottom: 75px;
    z-index: 5;   
    @media #{$xxxl}{
        left: 380px;
    }
    @media #{$xxl}{
        left: 250px;
    }
    @media #{$xl}{
        left: 130px;
    }
    @media #{$lg,$md,$xs}{
        display: none;
    }
    & .swiper-pagination-bullet {
        width: 30px;
        height: 2px;
        display: inline-block;
        opacity: 1;
        margin: 0px 5px;
        transition: .3s;
        background-color: #a5a5a5;
        border-radius: 0;
    }
    & .swiper-pagination-bullet-active {
        height: 4px;
        background-color: var(--tp-common-white);
    }
}