@use '../../utils' as *;

/*----------------------------------------*/
/*  7.23 video css start
/*----------------------------------------*/
.tp-video {
    &-height {
        height: 558px;
        display: flex;
        justify-content: center;
        align-items:center;
        @media #{$xl}{
           height: 450px;
           background-position: right;
        }
        @media #{$lg}{
           height: 420px;
           background-position: right;
        }
        @media #{$md}{
           height: 400px;
           background-position: right;
        }
        @media #{$xs}{
           height: 300px;
           background-position: right;
        }
        @media #{$sm}{
           height: 400px;
           background-position: right;
        }
    }
    &-play {
        & a {
            display: inline-block;
            font-size: 18px;
            height: 80px;
            line-height: 80px;
            width: 80px;
            border-radius: 50%;
            text-align: center;
            background-color: var(--tp-common-white);
            color: var(--tp-theme-1);
            position: relative;
            &::before{
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 70%;
                height: 70%;
                background-color: rgba(255, 255, 255, 0.432);
                animation: borderanimate2 2.5s linear infinite;
                border-radius: 50%;
            }
            &::after{
                position: absolute;
                content: "";
                left: 50%;
                top: 50%;
                width: 90%;
                height: 90%;
                transform: scale(1.5);
                border: 1px solid var(--tp-common-white);
                animation: borderanimate2 2.5s linear infinite;
                border-radius: 50%;
            }
            & i {
                display: inline-block;
                padding-left: 4px;
                position: relative;
                z-index: 2;
            }
        }
    }
}